body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.shadow-top {
	box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.25);
}

div.shadow-right {
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.25);
}

div.shadow-bottom {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

div.shadow-left {
	box-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);
}

div.shadow-page {
	box-shadow: -3px 0 5px rgba(0, 0, 0, 0.25);
}

.shadow-floating {
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
}

div.ellipsis {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.transition {
	transition: all 0.15s ease-in-out;
}

span.first-word {
	font-weight: 400;
}

div.hidden {
	display: none;
}
