body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.application, div.navigation, div.page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

div.shadow-top {
	box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.25);
}

div.shadow-right {
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.25);
}

div.shadow-bottom {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

div.shadow-left {
	box-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);
}

div.shadow-page {
	box-shadow: -3px 0 5px rgba(0, 0, 0, 0.25);
}

div.shadow-floating {
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
}

div.ellipsis {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.transition {
	transition: all 0.15s ease-in-out;
}

div.navigation {
	background-color: #757575;
}

span.first-word {
	font-weight: 400;
}

div.navigation-title {
	width: 256px;
	height: 64px;
	border-bottom: 3px solid #9e9e9e;
	display: flex;
}

div.navigation-name {
	flex: 1;
	display: flex;
	padding-left: 20px;
	align-items: center;
	font-size: 21px;
	text-transform: uppercase;
	color: #eeeeee;
}

div.page {
	background-color: #fafafa;
}

div.expanded {
	right: -256px;
	left: 256px;
}

div.header {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #78909c;
}

div.title {
	position: relative;
	height: 64px;
	border-bottom: 3px solid #cfd8dc;
	background-color: #607d8b;
	display: flex;
	font-size: 21px;
	text-transform: uppercase;
}

div.burger, div.action {
	width: 64px;
	background-color: #78909c;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
}

div.back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 64px;
	max-width: 216px;
	padding: 0 20px 0 20px;
	display: flex;
	align-items: center;
	color: white;
	cursor: pointer;
}

div.name {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

div.name div.ellipsis {
	max-width: 320px;
}

div.menu {
	position: absolute;
	top: 8px;
	right: 8px;
	border-radius: 2px;
	background-color: white;
	font-size: 14px;
	text-transform: none;
	color: black;
}

div.menu-item {
	padding: 20px;
	display: flex;
	align-items: center;
}

div.menu-item:hover {
	background-color: #f5f5f5;
}

div.menu-item i {
	margin-right: 20px;
	color: #757575;
}

div.bar {
	height: 56px;
}

div.content {
	position: absolute;
	top: 123px;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
}

div.left-pane {
	z-index: 1;
	width: 320px;
	background-color: white;
	cursor: pointer;
}

div.collapsed {
	width: 64px;
}

div.action-floating {
	position: absolute;
	right: 32px;
	bottom: 32px;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background-color: #ff5722;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
}

div.pressed {
	background-color: #f5f5f5;
	color: #9e9e9e;
}

div.action-refresh {
	right: 0;
	bottom: 192px;
	opacity: 1;
}

div.action-unread {
	right: 136px;
	bottom: 136px;
	opacity: 1;
}

div.action-read {
	right: 192px;
	bottom: 0;
	opacity: 1;
}

div[class~="action-refresh"].pressed {
	right: 0;
	bottom: 96px;
	opacity: 0;
}

div[class~="action-unread"].pressed {
	right: 68px;
	bottom: 68px;
	opacity: 0;
}

div[class~="action-read"].pressed {
	right: 96px;
	bottom: 0;
	opacity: 0;
}

/* div.burger.width(64px) + div.action.width(64px) + 2 * div.back.min-width(64px) + div.name.max-width(320px) - 1 */
@media (max-width: 575px) {
	div.name div.ellipsis {
		display: none;
	}
}

/* div.burger.width(64px) + div.action.width(64px) + 2 * div.back.max-width(256px) + div.name.max-width(320px) - 1 */
@media (max-width: 959px) {
	div.back div.ellipsis {
		display: none;
	}
}

div.hidden {
	display: none;
}
